@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
}

body {
  background-color: rgb(185, 185, 178);
}

.react-pdf__Page__textContent.textLayer {
  display: none;
}

.sigContainer {
  background-color: white;
  width: 425px;
  height: 250px;
  border-radius: 15px;
}

.popup-content {
  width: 550px !important;
  height: 350px !important;
  background: transparent !important;
  border: none !important;
}

.popup-overlay{
  backdrop-filter: none;
  background: none !important;
}